<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} | Amorita Solutions LLC</title>
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>

  <body>
    <div class="site-wrapper">
      <header class="site-header">
        <div class="logo-group">
          <a href="/">
            <img
              src="/img/amorita-logo.svg"
              alt="Amorita Solutions LLC Logo"
              class="site-logo"
            />
          </a>
          <div class="title-group">
            <h1>AMORITA SOLUTIONS LLC</h1>
            <!-- <span class="tagline">Global C2C & US Federal Contracting</span> -->
          </div>
        </div>
      </header>

      <div class="main-layout">
        <aside class="sidebar">
          <div class="floating-nav">
            <nav>
              <ul>
                <li>
                  <a
                    href="/"
                    class="{{ if eq .RelPermalink "/" }}active{{ end }}"
                    >Home</a
                  >
                </li>
                <li>
                  <a
                    href="/about/"
                    class="{{ if eq .RelPermalink "/about/" }}active{{ end }}"
                    >About</a
                  >
                </li>

                <li>
                  <a
                    href="/projects/"
                    class="{{ if in .RelPermalink "/projects/" }}
                      active
                    {{ end }}"
                    >Projects</a
                  >
                </li>
                <li>
                  <a
                    href="/blog/"
                    class="{{ if in .RelPermalink "/blog/" }}active{{ end }}"
                    >Blog</a
                  >
                </li>
                <li>
                  <a
                    href="/contact/"
                    class="{{ if in .RelPermalink "/contact/" }}active{{ end }}"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </aside>

        <main class="content">
          {{ block "main" . }}{{ end }}
        </main>
      </div>
    </div>
    {{ partial "footer.html" . }}
    <div
      id="lightbox-overlay"
      class="lightbox-overlay"
      onclick="closeLightbox()"
    >
      <span class="lightbox-close">&times;</span>
      <img class="lightbox-content" id="lightbox-img" />
      <div id="lightbox-caption"></div>
    </div>
  </body>
</html>
